.product-page {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 상품 간 공간 균등 분배 */
}

.product {
  flex-basis: 24%; /* 한 줄에 4개의 상품을 표시하기 위해 너비 설정 */
  margin-bottom: 20px; /* 상품 간 아래쪽 마진 추가 */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.product img {
  width: 100%; /* 이미지 너비를 상품 컨테이너에 맞춤 */
  height: 200px; /* 이미지 높이 고정 */
  object-fit: cover; /* 이미지 비율 유지 및 컨테이너에 맞춰 자르기 */
  border-radius: 5px;
}

.add-button-container {
  text-align: right;
  margin-bottom: 20px;
}

.add-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #45a049;
}
.form-container {
  display: flex;
  justify-content: center; /* 주축(가로축)에서 중앙 정렬 */
  align-items: center; /* 교차축(세로축)에서 중앙 정렬 */
  height: 100%; /* 컨테이너의 높이를 100%로 설정 */
}

.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: auto; /* 위, 아래 자동 마진으로 중앙 정렬 */
}

.add-product-form input,
.add-product-form textarea,
.add-product-form button {
  margin-bottom: 10px; /* 입력 필드 간격 */
  width: 100%; /* 입력 필드 너비 */
}

.add-product-form button {
  width: auto; /* 버튼 너비 자동 */
  align-self: center; /* 버튼을 중앙에 위치 */
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background: none;
  cursor: pointer;
}

.pagination button.active {
  border-color: #336699;
  background-color: #336699;
  color: white;
}